zsh/.zhistory
Code/
Dharkael/
GIMP/
TabNine/
aria2/
baidunetdisk/
cache/
cef_user_data/
clash/
coc/
configstore/
dconf/
emelfm2/
fcitx/
google-chrome/
htop/
ibus/
local/
menus/
mimeapps.list
neofetch/
nitrogen/
pavucontrol.ini
pulse/6982d40bff7b1898140255466184f806-card-database.gdbm
pulse/6982d40bff7b1898140255466184f806-default-sink
pulse/6982d40bff7b1898140255466184f806-default-source
pulse/6982d40bff7b1898140255466184f806-device-volumes.gdbm
pulse/6982d40bff7b1898140255466184f806-runtime
pulse/6982d40bff7b1898140255466184f806-stream-volumes.gdbm
pulse/cookie
spacefm/
tint2/
wget/
balena-etcher-electron/
libfm/
pcmanfm/
QtProject.conf
cmus/
kritadisplayrc
kritarc
mypaint/
fcitx5/crash.log
autostart
*-nativefier-*
discord/
flameshot/
blender/
unity3d/
/\345\276\256\344\277\241/"
btop/
fcitx5/conf/notifications.conf_57USj6
qutebrowser/
zsh/.zcompdump
icalingua/
Qobuz Desktop player/
qobuz-dl/
JetBrains/
steam-tui/
gcloud/
zsh/.zshrc.backup
rclone/rclone.conf
calibre/
lutris/
qBittorrent/
LanguageTool/
gcolor3/
xarchiver/
gpick/
doom/custom.el
hakuneko-dev/
EmptyProject/
doom/flycheck_+prog.el
ogre/
Zotero/
quodlibet/
weechat/
QQ/
fontforge/
qtile/__pycache__/
.mono/
